body {
    background-color: lightblue;
  }
h1{
    text-align: center;
}
p{
    text-align: center;
}
ul{
    text-align: center;
}
h1 {
    font-family: Tahoma, sans-serif;
  }
  p {
    font-family: Tahoma, sans-serif;
  }
  ul {
    font-family :Tahoma, sans-serif;
  }